/* Login.css */

/* Garante que o layout ocupe toda a tela */
.vh-100 {
  height: 100vh;
}

.g-0 {
  --bs-gutter-x: 0;
}

/* Coluna do Formulário */
.form-column {
  background-color: #f8f9fa; /* Um cinza claro para o fundo */
  padding: 2rem;
}

/* Card de Login */
.login-card {
  width: 100%;
  max-width: 420px; /* Largura máxima para o formulário */
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9ecef;
  zoom: 0.8;
}

.login-logo {
  width: 120px;
  height: auto;
}

/* Estilização dos inputs e botões */
.form-control,
.input-group-text {
  padding: 0.85rem 1rem;
  border-radius: 8px;
}

.input-group-text {
  cursor: pointer;
  background-color: #e9ecef;
  border-left: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
  border-color: #86b7fe;
}

.btn.btn-primary {
  background-color: #005d7c !important; /* Cor primária consistente */
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
  background-color: rgb(
    0,
    47,
    63
  ) !important; /* Cor primária um pouco mais escura */
}

/* Coluna da Imagem */
.image-column {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Adiciona uma sutil sobreposição escura para legibilidade de texto, se necessário */
  position: relative;
}

/* Garante que a imagem não tenha uma sobreposição, mas você pode adicionar uma se quiser */
.image-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Sobreposição escura suave */
}

/* Ajustes para telas menores (mobile) */
@media (max-width: 767.98px) {
  .form-column {
    /* No mobile, o formulário ocupa a tela toda e o padding é reduzido */
    padding: 1.5rem;
  }

  .login-card {
    /* Remove a sombra e a borda no mobile para uma aparência mais limpa */

    padding: 30px;
    background-color: transparent;
  }
}
