.provisionamento-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita barras de rolagem desnecessárias no container */
}

.provisionamento-iframe {
  flex-grow: 1; /* Permite que o iframe cresça e ocupe o espaço flexível */
  width: 100%;
  height: 100%;
  border: none; /* Remove qualquer borda que o navegador possa adicionar */
}
